<script src="https://cdn.tailwindcss.com"></script>

<%- include("_header") -%>
<div>
<div class="flex flex-col items-center min-h-screen pt-2 bg-gray-100 sm:justify-center sm:pt-0">
  <div class="w-full px-16 py-20 mt-4 overflow-hidden bg-white rounded-lg lg:max-w-4xl">
    <div class="mb-4">
<h1 class="font-serif text-3xl font-bold underline decoration-gray-400">Create Post</h1>
</div>
<div class="w-full px-6 py-4 bg-white rounded shadow-md ring-1 ring-gray-900/10">
<form action="/create" method="post">
  
    <%- include("_editor") -%>

    
      <div class="flex items-center justify-start mt-4 gap-x-2">
        <input
          type="submit"
          value="Ajouter"
          class="px-6 py-2 text-sm font-semibold rounded-md shadow-md text-sky-100 bg-sky-500 hover:bg-sky-700 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300"
        />
        <button type="submit"
                  class="px-6 py-2 text-sm font-semibold text-gray-100 bg-gray-400 rounded-md shadow-md hover:bg-gray-600 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300">
                  Annuler
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

<%- include("_footer") -%>
